.button {
  display: inline-block;
  border-radius: 30px;
  background: linear-gradient(to right, #4f3b56, #b4e4d3);
  color: #ffffff;
  border: 3px solid #4f3b56;
  text-align: center;
  font-size: 15px;
  padding: 18px;
  width: 40%;
  cursor: pointer;
  margin: 25px;
}