<!-- <div id="content" #content>
    <table>
        <thead>
            <tr>
                <th> name </th>
                <tH> Idade </tH>
                <th> email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> kailaine </td>
                <td> 18 </td>
                <td> kaka@gmail.com</td>
            </tr>
        </tbody>
    </table>
</div> -->


<button class="button" routerLink="/context" style="vertical-align: middle" (click)="printSimplePDF()"> Grid
    Download</button>