<!-- Parte de cima do Sidebar  -->
<mat-toolbar>

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  <button mat-button class="menu-button">
    <mat-icon>exit_to_app</mat-icon>
    <a href="https://www.google.com.br/"></a>
  </button>
</mat-toolbar>


<!-- Configuração de todas as pastes do Sidebar -->

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav">

    <img class="avatar mat-elevation-z0" src="../../../assets/Images/Logo.png"
      style="width:120px; text-align: center; margin-left: 35px ;">

    <mat-divider></mat-divider>

    <br>
    <div class="ct-perfil">
      <div class="avatar">
        <img class="avatar mat-elevation-z0"
          src="https://w7.pngwing.com/pngs/21/228/png-transparent-computer-icons-user-profile-others-miscellaneous-face-monochrome.png"
          style="width: 50px; border-radius: 100px; display: flex;">
      </div>

      <div class="box">
        <p class=" designation"> Welcome </p>
        <h3 class="name"> Kleber Gelli </h3>

      </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    


    <!-- <button mat-button class="menu-button">
      <mat-icon>message</mat-icon>
      <span> Chat </span>
    </button> -->


    <br>
    <div class="direcionamento">

    <button mat-button class="menu-button">
      <mat-icon>event</mat-icon>
      <span routerLink=""> Mapeamento </span>
    </button><br>

    
    <button mat-button class="menu-button">
      <mat-icon>computer</mat-icon>
      <span routerLink="/mapping"> Recursos </span>
      <br>
    </button>

    
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span routerLink="client"> Usuarios </span>
    </button><br>

    <br>
    <mat-divider></mat-divider>
  </div>
    <button mat-button class="menu-button">
      <mat-icon>brightness_4</mat-icon>
      <span> Tema </span><br>
    </button>

    <button mat-button class="menu-button">
      <mat-icon></mat-icon>
      <span> </span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>