<mat-nav-list style="text-align: center; margin:5%;">

  <!--LOGO-->
  <img class="" alt="logo" src="../../../assets/Images/Logo.png"
    style="width:170px; text-align: center; margin-left: 20px ; cursor: pointer;" routerLink="./home" />

  <mat-divider></mat-divider><br>

  <div class="ct-perfil">
    <div class="box" style="text-align: center; margin: 5%;">
      <p class=" designation" style="color: #B4E4D3;font-weight: bold; font-size: 20px;"> It is </p>
      <h3 class="name" style="color: #4F3B56; font-weight: bold; border: 1px #4F3B56;  font-size: 20px;"> Welcome
      </h3>
    </div>
  </div>

  <br><mat-divider></mat-divider> <br>

  <mat-list-item class="box" routerLink="/context">
    <a routerLink="/context" routerLinkActive="list-item-active">
      <mat-icon>event</mat-icon>
      <span> Mapping </span>
    </a>
  </mat-list-item> <br>

  <mat-list-item class="box" routerLink="/mapping">
    <a routerLink="/mapping" routerLinkActive="list-item-active">
      <mat-icon>computer</mat-icon>
      <span> Resources </span>
    </a>
  </mat-list-item> <br>

  <mat-list-item class="box" routerLink="/client">
    <a routerLink="/client" routerLinkActive="list-item-active">
      <mat-icon>person</mat-icon>
      <span> Users </span>
    </a>
  </mat-list-item> <br>

  <mat-list-item class="box" routerLink="/base">
    <a routerLink="/base" routerLinkActive="list-item-active">
      <mat-icon>people</mat-icon>
      <span> Register </span>
    </a>

  </mat-list-item>

  <mat-divider></mat-divider>

  <br>
  <br>
  <br>
  <img class="avatar mat-elevation-z0" src="../../../assets/Images/menuu.png" style="width:170px; text-align: center; ">

</mat-nav-list>