* {
    position: cover;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

mat-toolbar {
    border: 10px solid;
}

mat-sidenav {
    width: 200px;
    align-items: center;
    justify-content: center;
}

mat-nav-list .box a:hover {
    background: #f1f1f1;
    cursor: pointer;
    font-weight: bold;
}