mat-toolbar{
  background: rgba(255, 255, 255, 0.952);
  color: rgb(0, 0, 0);
  border: 10px solid #4F3B56;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}

mat-sidenav {
  /* margin: 16px; */
  width: 230px;
  border-right: none;
  background: rgba(255, 255, 255, 0.788);
  color: rgb(0, 0, 0);
  /* border-radius: 10px; */
  padding: 5px;
  border: 15px solid #4F3B56;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
  /* text-align: center; */

}

.direcionamento{
  align-items: center;
  text-align: center;
  margin: 5%;
}

.ct-perfil{
  display: flex;
  padding: 5px;
  margin: 6px;
  text-align: center;
}

.ct-perfil .box{
  font-weight: bold;
  padding: 3px;
  margin: 5px;
}

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center ;
  align-items: center;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}

.menu.button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
}



.name{
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}

.designation{
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(0, 0, 0);
}

mat-divider{
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgb(0, 0, 0);
}

