<body>
  <form [formGroup]="cadForm" (ngSubmit)="submit()" #formDir="ngForm">
    <div class="container">
      <!--formulario-->
      <!--Nome completo-->
      <div class="form-content">
        <div class="logo"><img src="../../../assets/Images/Logo.png" alt="logo" class=logo />
        </div>

        <div class="Name">
          <div class="input-div">
            <div class="i">
              <mat-icon>assignment</mat-icon>
              <input id="Name" type="text" placeholder="Nome Completo" formControlName="Name" maxlength="55"
                minlength="6" />
            </div>
          </div>

          <!--validação do campo do nome completo-->
          <div *ngIf="Name.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="Name.errors?.['required']">
              Preencha o campo corretamente
            </p>
          </div>

          <!--CPF-->
          <div class="input-div">
            <div class="i">
              <mat-icon>fingerprint</mat-icon>
              <input id="cpf" type="text" placeholder="CPF" formControlName="Cpf" maxlength="11" minlength="6" />

            </div>
          </div>

          <!--validação do campo do CPF-->
          <div *ngIf="Cpf.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="Cpf.errors?.['required']">
              Preencha o campo de cpf corretamente
            </p>
          </div>


          <!--User Name-->
          <div class="input-div">
            <div class="i">
              <mat-icon>perm_identity</mat-icon>
              <input id="Username" type="text" placeholder="User" formControlName="Username" maxlength="10" />

            </div>
          </div>

          <!--validação do campo do -->
          <div *ngIf="Username.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="Username.errors?.['required']">
              Preencha o campo de user corretamente
            </p>
          </div>



          <!--Password-->
          <div class="input-div">
            <div class="i">
              <mat-icon>lock</mat-icon>
              <input id="Password" type="password" placeholder="Senha" formControlName="Password" maxlength="20"
                minlength="6" />
            </div>
          </div>

          <!--validação do campo do -->
          <div *ngIf="Password.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="Password.errors?.['required']">
              Preencha o campo de Senha corretamente
            </p>
          </div>


          <!--File-->
          <div class="input-div-file">
            <div class="i">
              <mat-icon>photo_camera</mat-icon>
              <label for="file">Anexar arquivo</label>
              <input id="file" type="file" placeholder="envia sua imagem " />
            </div>
          </div>

          <div class="btn">
            <input type="submit" class="btn" value="enviar">
          </div>

        </div>
      </div>

      <div class="ilustracao">
        <img src="../../../assets/Images/pagecentral.png" alt="logo" />
      </div>
    </div>
  </form>
</body>