<body>
  <form [formGroup]="service.form" class="normal-form">
    <mat-grid-list cols="2" rowHeight="600px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key" />
          <mat-form-field>
            <input
              formControlName="fullName"
              matInput
              placeholder="Nome"
            />
            <mat-error>Esse campo é obrigatorio.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="ID" />
            <mat-error>Invalid ID address.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="mobile" matInput placeholder="Descrição" />
            <mat-error>Esse campo é obrigatorio.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="city" matInput placeholder="Observação" />
            <mat-error>Esse campo é obrigatorio.</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
            <mat-select formControlName="department" placeholder="Grupo">
              <ng-container *ngFor="let department of departments">
                <mat-option value="{{ department.id }}">{{
                  department.value
                }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="hireDate"
              matInput
              [matDatepicker]="picker"
              placeholder="Data"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="add-bottom-padding">
            <!-- <mat-checkbox formControlName="isPermanent"
              >Permanente</mat-checkbox
            > -->
          </div>
          <div class="button-row">
            <button
              mat-raised-button
              style="background-color: green; color: aliceblue"
              type="submit"
            >
              Submit
            </button>
            <button mat-raised-button color="warn" (click)="onClear()">
              Clear
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</body>
