<form [formGroup]="service.form" class="normal-form">
  <div class="controles-container">
    <input type="hidden" formControlName="$key">
    <mat-form-field>
      <input formControlName="fullName" matInput placeholder="Full Name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="mobile" matInput placeholder="Mobile">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="city" matInput placeholder="City">
    </mat-form-field>
  </div>

  <div class="controles-container">
    <div class="add-bottom-padding">
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="1"> Professor </mat-radio-button>
        <mat-radio-button value="2"> Sala </mat-radio-button>
        <mat-radio-button value="3"> Turma </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field>
      <mat-select formControlName="department" placeholder="Department">
        <mat-option> None </mat-option>
        <ng-container *ngFor="let department of departments">
          <mat-option value="{{department.id}}"> {{department.value}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <!-- <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date"> -->
    </mat-form-field>
  </div>
</form>
