body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 30px solid transparent;
  border-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/877/125/small/animated-border-light-neon-border-neon-free-video.jpg")
    90 round;
  padding: 3.5%;
  height: 75%;
}
.content {
  background-color: antiquewhite;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #4f3b56;
  font-weight: bold;
  text-align: center;
}
