<body>
  <div class="page-bg"></div>

  <div class="animation-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>

  <div class="container">
    <mat-toolbar style="background-color: #4f3b56; height: 60px;">
      <span class="fill-remaining-space"></span>
      <span> Gerenciamento De Recursos</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <app-employee></app-employee>
  </div>
</body>
