<!--BACKGROUND DA PÁGINA  -->

<div class="page-bg"></div>

<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>

<!-- !-- MARGEM DE CIMA --> 
<div class="juntos">
  <!-- <app-navigation></app-navigation> -->

  <div class="content">
    <mat-toolbar style="background-color: #4f3b56; height: 60px; color: white;">
      <span class="fill-remaining-space"></span>
      <span> GERENCIAMENTO DE MAPEAMENTO </span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <div class="container">

      <!-- search -->
      <div class="search">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Insira sua pesquisa</mat-label>
          <input matInput placeholder="Ex. ">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </p>
    </div>

    <!--btn de salvar-->

    <mat-list-item class="btn" routerLink="/">
      <button mat-button>
      Salvar
     </button>
     
    </mat-list-item>
  

<div class='demo-app-main'>
    <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>


</div>
  