<body>

  <h1> Bem-vindo, Kleber Gelli</h1>


  <div class="container">


    <img src="../../../assets/Images/HOME.png" alt="" style="width: 250px;" />


    <div class="divisao">
      <div class="Icone">
        <mat-icon style="color: #4F3B56;">calendar_today</mat-icon>
      </div>
      <button class="button" style="vertical-align:middle"><span>Gerenciamento de ambientes</span></button>
    </div>

    <div class="divisao">
      <div class="Icone">
        <mat-icon style="color:  #4F3B56;">person</mat-icon>
      </div>
      <button class="button" style="vertical-align:middle"><span>Gerenciamento de usuario</span></button>
    </div>

    <div class="divisao">
      <div class="Icone">
        <mat-icon style="color:  #4F3B56;">laptop</mat-icon>
      </div>
      <button class="button" style="vertical-align:middle"><span>Visualização de recursos</span></button>
    </div>

  </div>
</body>
