<body>
  <h1>Bem-vindo</h1>

  <div class="container">
    <img src="../../../assets/Images/HOME.gif" alt="" style="width: 250px" />
    <div class="divisao">
      <div class="Icone">
        <mat-icon style="color: #4f3b56">calendar_today</mat-icon>
      </div>
      <button class="button" style="vertical-align: middle">
        <span>Gerenciamento de ambientes</span>
      </button>
    </div>
    <div class="divisao">
      <div class="Icone">
        <mat-icon style="color: #4f3b56">person</mat-icon>
      </div>
      <button class="button" style="vertical-align: middle">
        <span>Gerenciamento de usuario</span>
      </button>
    </div>
    <div class="divisao">
      <div class="Icone">
        <mat-icon style="color: #4f3b56">laptop</mat-icon>
      </div>
      <button class="button" style="vertical-align: middle">
        <span>Visualização de recursos</span>
      </button>
    </div>
  </div>
</body>
