h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #4f3b56;
    font-weight: bold;
    text-align: center;
  }

.box{
  display: flex;
  
}