<!-- PAGINA INICIAL -->

<body>

    <!-- BACKGROUND DE BOLINHAS -->
    <div class="page-bg"></div>
    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
      <div class="particle particle-4"></div>
    </div>
  
  
    <!-- CONTAINER BRANCO DO MEIO DA PÁG -->
  
    <div class="cor"><br>
  
      <h1>Welcome</h1>
  
      <div class="container">
  
        <img src="../../../assets/Images/user.png" alt="" style="width: 350px" />
  
  
        <!-- GERENCIAMENTO DE AMBIENTES -->

  
        <!-- VISUALIZAÇÃO DE RECURSO -->
        <div class="divisao">
  
          <div class="Icone">
            <mat-icon style="color: #4f3b56">laptop</mat-icon>
          </div>
  
          <button class="button" routerLink="/context" style="vertical-align: middle">
            <span>View Grid</span>
          </button>

          <div class="pdf">
            <app-pdf></app-pdf>
           </div>
  
          <br><br>
          <br><br>
        </div>
      </div>
    </div>
  </body>