<body>
  <form [formGroup]="momentForm" (ngSubmit)="submit()" #formDir="ngForm">
    <div class="container">

      <div class="img">
        <img src="../../../assets/Images/log.png" alt="" />
      </div>

      <div class="login-content">


        <div class="login">
          <img src="../../../assets/Images/Logo.png" alt="" />
          <label for="Login"> </label>
          <div class="input-div one">
            <div class="i">
              <mat-icon>people</mat-icon>
            </div>
            <div class="div">
              <input id="Name" type="text" placeholder="Nome de usuario" formControlName="Name" maxlength="6"
                minlength="6" />
            </div>
          </div>

          <div *ngIf="Login.invalid && formDir.submitted" class="validation-error">
            <mat-error *ngIf="Login.errors?.['required']">
              Preencha o campo de Login corretamente
            </mat-error>
          </div>

          <div class="input-div pass">
            <div class="i">
              <mat-icon>lock</mat-icon>
            </div>
            <div class="div">
              <input id="Password" type="password" placeholder="Senha" formControlName="Password" maxlength="16"
                minlength="6" />
            </div>
          </div>

          <div *ngIf="Password.invalid && formDir.submitted" class="validation-error">
            <mat-error *ngIf="Password.errors?.['required']">
              Preencha o campo de Senha corretamente
            </mat-error>
          </div>

          <a href="#">Forgot Password?</a>
          <input type="submit" class="btn" value="Login">
        </div>
      </div>
    </div>
  </form>
</body>