@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

// Import partials

// @import "./spacing";
// @import "./colors";
// @import "./layout";
// @import "./typography";
// @import "./reset";

// Import sections
// @import "./menu";
// @import "./";
// @import "./about";
// @import "./
// @import "./footer";



// body { 
//   display: flex;
//   height: 100vh;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   background-color: darkorchid;
// }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Layout of project

// Container devices
$container-xl: 1216px;
$container-l: 1140px;
$container-m: 688px;
$container-s: 540px;

// Mixins of media queries
@mixin responsive($device) {
  @if $device == xl {
    // For resolutions upper than 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px
    @media screen and (max-width: $container-xl) {
      @content;
    }
  } @else if $device == m {
    // For resolutions between 960px
    @media screen and (max-width: $container-l) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

