.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
   width: 230px;
   border-right: none;
   color: rgb(0, 0, 0);
   padding: 5px;
   border: 10px solid #9f9f9f;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content{
  margin: 1.5%;;
}

.box{
  text-align: center;
  
}

.button{
  color: #9f9f9f;
}

.menu-button{
  color: #4F3B56;
  padding: 8%;
  font-size: 17px;
}

.ct-perfil{
//   display: flex;
//   padding: 5px;
//   margin: 6px;
//   text-align: center;
}

.ct-perfil .box{
  color: #4F3B56;
  padding: 3%;
  font-size: 20px;
  align-items: center;
}