<h1 mat-dialog-title style="font-family: fantasy; text-align: center; color: rgb(79, 59, 86);">DELETE</h1>
<div mat-dialog-content>
  Você tem certeza que deseja excluir ?
</div>
<div mat-dialog-actions style="text-align: center;">
  <button mat-button mat-dialog-close style="background-color: green; color: white;">Cancelar</button>
  <button mat-button style="background-color: red; color: white;" >Deletar</button>
  <!-- <button mat-icon-button (click)="deleteElement(element.position)" style="color: rgb(79, 59, 86);">Deletar</button> -->
</div>